header {
    background-color: rgb(208, 189, 189);
    text-align: center;
    line-height: 100px;
    font-size: 30px;
}

body {
    background-color: rgb(238, 241, 243);
    margin-left: 10em;
    margin-right: 10em;
    font-size: 20px;
}

table {
    float: right;
    background-color: rgb(204, 217, 226);
    color: rgb(0, 115, 255);
}

aside ul li {
    list-style: none;
    color: rgb(230, 28, 28);
}

/* Saw this on W3schools */
aside ul li::before {
    content: "\2022";
    color: black;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

footer {
    background-color: rgb(222, 219, 219);
    text-align: center;
}