html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #E8DCB8;
}

header {
  padding: 10px;
  background-color: #E0C9A6;
}

p {
  font-size: 22px;
  color: #525252;
}

.aside-one {
  padding: 10px;
}

.aside-two {
  padding: 10px;
}

.main-content {
  padding: 10px;
}

footer {
  padding: 10px;
  background-color: #E0C9A6;
}

@media (min-width: 800px) {
  header {
    padding: 20px;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    text-align: center;
    font-size: 2rem;
  }

  .asides-container {
    display: flex;
    justify-content: space-around;
  }

  .aside-one {
    padding: 20px;
  }
  
  .aside-two {
    padding: 20px;
  }
  
  .main-content {
    padding: 20px;
  }
}

@media (min-width: 1300px) {
  header {
    padding: 20px 8% 1px 8%;
  }

  header ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;    
  }

  header ul li {
    padding-right: 10px;    
  }

  h1 {
    font-size: 3rem;
    text-align: center;
    padding-bottom: 30px;
  }

  h2 {
    text-align: center;
    font-size: 2.5rem;
  }

  p {
    font-size: 20px;
  }

  .asides-container {
    padding: 0 10%;
  }

  .main-content {
    padding: 0 10%;
  }

  footer {
    padding: 1px 10% 1px 10%;
  }
}