.super-mario {
    width: 200px;
}

.goomba {
    position: absolute;
    width: 100px;
    left: 65px;
    top: 400px;
}

.baloon {
    position: absolute;
    z-index: 1;
}

.speach {
    position: absolute;
    font-size: 25px;
    left: 240px;
    top: 120px;
    z-index: 2;
}

.bowser {
    width: 200px;
}